@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 35 50% 95%; /* Light Beige */
    --foreground: 24 10% 25%;
    --card: 35 50% 98%;
    --card-foreground: 24 10% 25%;
    --popover: 35 50% 98%;
    --popover-foreground: 24 10% 25%;
    --primary: 30 100% 60%; /* Saffron */
    --primary-foreground: 24 10% 15%;
    --secondary: 35 50% 91%;
    --secondary-foreground: 24 10% 25%;
    --muted: 35 50% 88%;
    --muted-foreground: 24 10% 45%;
    --accent: 226 76% 58%; /* Royal Blue */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 35 30% 85%;
    --input: 35 30% 90%;
    --ring: 226 76% 58%;
    --radius: 0.8rem;
    --font-body: __Literata_4382c3, __Literata_Fallback_4382c3;
    --font-headline: __Literata_4382c3, __Literata_Fallback_4382c3;
  }
  .dark {
    --background: 24 10% 10%;
    --foreground: 35 50% 95%;
    --card: 24 10% 12%;
    --card-foreground: 35 50% 95%;
    --popover: 24 10% 10%;
    --popover-foreground: 35 50% 95%;
    --primary: 30 100% 60%;
    --primary-foreground: 24 10% 15%;
    --secondary: 24 10% 18%;
    --secondary-foreground: 35 50% 95%;
    --muted: 24 10% 22%;
    --muted-foreground: 35 50% 75%;
    --accent: 226 76% 58%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 24 10% 25%;
    --input: 24 10% 25%;
    --ring: 30 100% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
    line-height: 1.7;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }

  /* For mobile view */
  @media screen and (max-width: 768px) {
    .wrap {
      padding: 2.5rem 0;
    }
    .left-timeline, .right-timeline {
      justify-content: flex-start;
      flex-direction: row;
    }
    .right-timeline {
      flex-direction: row-reverse;
    }
    .right-timeline .z-20, .left-timeline .z-20 {
      transform: translateX(0);
    }
    .left-timeline .order-1, .right-timeline .order-1 {
      width: calc(100% - 4rem);
    }
    .left-timeline .order-1 {
      padding-left: 2rem;
    }
    .right-timeline .order-1 {
      padding-right: 2rem;
    }
  }
}
